/* =========================================
=================== UTIL ===================
============================================ */

.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.jcc {
  justify-content: center;
}

.jcsb {
  justify-content: space-between;
}

.aic {
  align-items: center;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.vh-100 {
  min-height: 100vh;
}

.vh-50 {
  min-height: 50vh;
}

.vh-25 {
  min-height: 25vh;
}

.pb-2 {
  margin-bottom: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.pb-4 {
  margin-bottom: 4rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.bold {
  font-weight: bold;
}

.light {
  background-color: white;
  color: black;
}

.dark {
  background-color: #777777;
  color: white !important;
}

@media screen and (max-width: 775px) {
  .flex {
    flex-direction: column;
  }

  .col-reverse {
    flex-direction: column-reverse;
  }
}

/* ================================================
=================== SECTIONS ===================
================================================ */

.section_first {
  /* background-image: url("/public/img/barbershop.jfif"); */
  background-image: url("https://www.w3schools.com/howto/img_parallax.jpg");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
}

.small_text_section {
  padding: 4rem;
  color: black;
}

/* =========================================
=================== TEXT ===================
============================================ */

.header {
  font-size: 124px;
  text-align: center;
}

.header2 {
  font-size: 76px;
  text-align: center;
}

.header3 {
  font-size: 52px;
  text-align: center;
}

@media screen and (max-width: 1180px) {
  .header {
    /* font-size: 18vw; */
    font-size: 72px;
  }

  .header2 {
    /* font-size: 8vw; */
    font-size: 48px;
  }

  .header3 {
    /* font-size: 5vw; */
    font-size: 36px;
  }

  .card {
    width: auto;
  }
}

/* =========================================
=================== CARD ===================
============================================ */

.card_container {
  display: flex;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  border-radius: 2rem;
  box-sizing: border-box;
  padding: 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@media screen and (max-width: 1030px) {
  .card_container {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }

  .card {
    width: auto;
  }
}
